{
  "presets": [
    "airbnb"
  ],
  "plugins": [
    "add-module-exports",
    "syntax-async-functions",
    "transform-regenerator",
    "transform-function-bind",
    "transform-class-properties"
  ]
}
